In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("data.csv")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     2053 non-null   int64
 1   comments  2050 non-null   object
dtypes: int64(1), object(1)
memory usage: 32.2+ KB

In [16]:
locations = ["mumbai","delhi","kolkata","chennai","bangalore"]
l = 2053
i=0
location = []
while(i<2053):
    index = np.random.randint(0,5)
    location.append(locations[index])
    i+=1
print(len(location))

2053

In [17]:
df["location"] = location

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     2053 non-null   int64
 1   comments  2050 non-null   object
 2   location  2053 non-null   object
dtypes: int64(1), object(2)
memory usage: 48.2+ KB

In [19]:
df.head()

   Index                                           comments location
0      0               You are truly inspirational to many     delhi
1      1    He gives so much hope to us that we can make it  chennai
2      2  Congratulations you have been selected among o...    delhi
3      3                            Most humble footballer   chennai
4      4           This is sooo good. Unreal. Love this guy    delhi

In [20]:
likes= []
i = 0
while(i<2053):
    index = np.random.randint(0,100)
    likes.append(index)
    i+=1
print(len(likes))

2053

In [21]:
dislikes= []
i = 0
while(i<2053):
    index = np.random.randint(0,100)
    dislikes.append(index)
    i+=1
print(len(dislikes))

2053

In [22]:
df['dislikes']=dislikes

In [23]:
df['likes']=likes

In [24]:
df.to_csv('locationAnalysis.csv')